body {
    background-image: url("../image/bg1_\(3\).jpg");
    background-size: cover;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.isi-navbar{
    display: flex;
    gap: 50px;
    list-style: none;
    padding-right: 50px;
}

.isi-navbar a{
    color: rgb(255, 255, 255); 
    font-family: calibri;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
    
}

.isi-navbar li a:hover{
    color: rgb(161, 0, 0);  
    transition: .3s;  
}

.content {
    font-family: calibri;
    font-size: 20px;
    color: white;
    margin-left: 70px;
    margin-top: 250px;
}

.highlight{
    color: rgb(139, 14, 14);
}

.desc{
    color:rgb(120, 120, 120);
}

.medsos{
    display: flex;
    gap: 15px;
    margin-left: 70px;
}

.mb{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mb img{
    width: 30px;
    height: 30px;
    transition: .3s;
}

.mb:hover img  {
    transform: scale(1.2);
    transition: .3s;
}

.button{
    margin-left: 70px;
    margin-top: 22px;
    background-color: rgb(159, 6, 6);
    color: white;
    font-family: calibri;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.button:hover{
    transform: scale(1.1);
    transition: .3s;
}