body {
    background-color: black;
    text-align: center;
}

img {
    width: 250px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: .3s;
    margin-top: 150px;
}

img:hover{
    transform:scale(1.1);
    transition: .3s;
    margin-top: 120px;
    
}

.text{
    color :white;
    font-style:italic;
}